{{define "yield"}}

<h1 class="greet">Welcome to Lenslocked</h1>
<p class="message">Sign-up and create beautiful photo galleries</p>
<hr>

<div class="row cover">
    <img class="cover-img img-fluid" src="assets/image_assets/gallerycover3.PNG">
</div>

{{end}}