{{define "yield"}}


<h1 class="greet">Welcome to   
<span class="logo">Exposé</span></h1>
<p class="message">Sign-up and create beautiful photo galleries</p>


<div class="row cover">
    <img id="photo" class="cover-img img-fluid" src="assets/image_assets/gallerycover3.PNG">
</div>

<script src="/assets/js/homemode.js"></script>
{{end}}