{{define "yield"}}

<h1 class="greet">Welcome to Lenslocked!</h1>

<div class="col-md-12 cover">
    <img src="assets/image_assets/gallerycover.PNG" alt="">
</div>

<style>
    .greet {
        width: 100%;
        text-align: center;
    }

    .cover {
        display: flex;
        justify-content: center;
        margin: 3rem 0 6rem 0;
        flex-wrap: wrap;
    }
</style>

{{end}}